body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.component-card_1 {
  border: 1px solid #e0e6ed;
  border-radius: 6px;
  width: 19rem;
  margin: 0 auto;
  box-shadow: 4px 6px 10px -3px #bfc9d4;
}
.component-card_1 .card-body { padding: 28px 25px; }
.component-card_1 .icon-svg {
  margin-bottom: 20px;
  display: inline-block;
  background: #3b3f5c;
  padding: 12px;
  border-radius: 50%;
  color: #f1f2f3;
}
.component-card_1 svg {
  width: 20px;
  height: 20px;
}
.component-card_1 .card-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.component-card_1 .card-text { color: #888ea8; }


.tab {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: rgb(41,54,94);
  background: linear-gradient(0deg, rgba(41,54,94,1) 0%, rgba(49,63,109,1) 100%);
  color: rgb(227, 228, 234);
  padding: 5px;
  border-radius: 10px;
  width: 300px;
  height: 50px;
}

.auto-tab {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: rgb(0,179,159);
  background: linear-gradient(0deg, rgba(0,179,159,1) 0%, rgba(23,226,201,1) 100%);
  color: rgb(29, 29, 29);
  padding: 5px;
  border-radius: 10px;
  width: 300px;
  height: 50px;
}

.tab .flag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  border-right: 1px solid rgb(161, 167, 190);
}

.auto-tab .flag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  border-right: 1px solid rgb(161, 167, 190);
}

.tab .flag img {
  align-self: center;
  flex-wrap: nowrap;
  height: 70%;
}

.tab .name {
  display: flex;
  padding-left: 20px;
  flex: 3;
  font-size: 20px;
}

.auto-tab .name {
  display: flex;
  padding-left: 20px;
  flex: 3;
  font-size: 20px;
}

.tab .check {
  color: rgba(23,226,201,1);
  padding-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.connection-button {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
}

.active {
  background: rgb(0,179,159);
  background: linear-gradient(0deg, rgba(0,179,159,1) 0%, rgba(23,226,201,1) 100%);
}

.inactive {
  background: rgb(132, 177, 172);
}

.hidden {
  visibility: hidden;
}